.about {
  padding-top: 8rem;
  background-color: #771616;
}

.jumbotron {
  padding-top: 10rem;
  background-color: #771616;
}

.projects {
  padding-top: 5rem;
  background-color: #771616;
}

section {
  padding-top: 5rem;
}
